body {
  color:$textColor;
  font-family:$sans;
}
a {
  transition:all .3s ease;
  text-decoration: none;
  outline:none;
  color:$linkColor;
  &:focus, &:active {
    outline:none;
  }
  &:hover {
    color:$linkHoverColor;
  }
}
h1 {
  font-family:$sans;
  color:$headingColor;
  font-size:30px;
  text-transform: uppercase;
}
h2 {
  font-family:$sans;
  color:$headingColor;
  font-size:30px;
  text-transform: uppercase;
}
h3 {
  font-family:$serif;
  color:$red;
  font-size:26px;
  text-transform: uppercase;
}
h4 {
  font-family:$serif;
  color:$headingColor;
  font-size:22px;
  text-transform: uppercase;
}
h5 {
  font-family:$alt;
  color:$headingColor;
  font-size:30px;
  text-transform: uppercase;
}
h6 {
  font-family:$sans;
  color:$headingColor;
  font-size:20px;
  font-weight: bold;
  text-transform: uppercase;
}
.row {
  margin-left:0;
  margin-right:0;
  @include clearfix;
}
ul.social {
  margin:0;
  padding:0;
  li {
    display: inline-block;
    float:none;
    margin:0 2px;
    a {
      //background:url(../images/icons-social.svg) no-repeat;
      //background-size:330px 55px;
      //width:66px;
      //height:55px;
      display: block;
      transition:all .3s ease;
      @include hidetext;
      &.facebook {
        background-position:0 0;
      }
      &.twitter {
        background-position:-128px 0;
      }
      &.instagram {
        background-position:-55px 0;
      }
      &.yelp {
        background-position:-190px 0;
      }
      &.trip {
        background-position:-257px 0;
      }
      &:hover {
        transform:scale(1.3);
      }
    }
  }
}
body {
  .alignleft {
    margin:10px 25px 13px 0 !important;
  }
  .alignright {
    margin:10px 0 13px 25px !important;
  }
  .aligncenter {
    margin:15px auto;
  }
  @media(max-width:600px) {
    .alignleft, .alignright {
      margin:15px auto !important;
      display: block;
      float:none;
      width:75%;
    }
  }
  @media(max-width:480px) {
    .alignleft, .alignright {
      width:100%;
    }
  }
}
/* .parallax {
  position: relative;
  overflow: hidden;
  // MUST SET HEIGHT ON THIS ELEMENT
}
.parallax-image {
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  height:150%;
  width:100%;
  @media(min-width:768px) {
    transform: translateZ(-1px) scale(1.5);
  }
  background-size: cover !important;
  z-index: -1;
}
.viewport {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @media(min-width:768px) {
    perspective: 2px;
  }
  z-index: 10000;
  -webkit-overflow-scrolling: touch;
} */