.wp-block-better-button-betterbutton {
  a {
    @include btn-default($linkColor, $textColor);
    position: relative;
    z-index:3;
  }
  &.red {
    a {
      @include btn-default(red, teal);
    }
  }
  &.gold {
    a {
      @include btn-default(gold, red);
    }
  }
  &.teal {
    a {
      @include btn-default(teal, white);
    }
  }
  &.white {
    a {
      @include btn-default(white, teal);
    }
  }
  &.green {
    a {
      @include btn-default(green, gold);
    }
  }
}
.gutencontent {
  ul, ol {
    padding-left:10px;
  }
  .wp-block-columns {
    p, h3, h4, .wp-block-button, h5, h6, ul, ol {
      padding-left:0;
    }
  }
  p {
    margin-bottom:20px;
  }  
  ol {
    margin-bottom:30px;
    li {
      list-style:decimal;
      margin-bottom:5px;
    }
  }
  ul {
    margin-bottom:30px;
    li {
      list-style:disc;
      margin-bottom:5px;
    }
  }
  figcaption {
    a {
    }
  }
  .alignfull {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width:none;
    padding:0;
    margin-top:45px;
    margin-bottom:45px;
    img {
      width:100%;
      height: auto;
    }
  }
  figure.aligncenter {
    @include container;
    margin:35px auto;
    img {
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
    figcaption {
      text-align: left;
      box-sizing:border-box;
      padding:7px 15px;
    }
  }
  .wp-block-image {
    margin-top:35px;    
    margin-bottom:35px;    
  }
  ul.wp-block-gallery.owl-gallery {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
    margin-top:15px;
    max-width:none;
    margin-bottom:30px;
    padding:0;
    .owl-item {
      padding-bottom:25px;
      cursor:grab;
    }
    &.owl-grab {
      .owl-item {
        cursor:grabbing;
      }
    }
    li {
      position: relative;
    }
    figure {
      width:100%;
    }
    .owl-stage-outer {
      width:100%;
      overflow:hidden;
    }
    p {
      display: none;
    }
    @include clearfix;
    li {
      margin:0;
      .caption {
        width:100%;
        text-align:center;
        font-size:12px;
        padding:2px 0 0;
        position:absolute;
        left:0;
        bottom:-20px;
        padding:0;
        height:20px;
        //display:none;
      }
    }
    .owl-item {
      float:left;
      li {
        width:100%;
      }
    }
    figure {
      display: block;
      overflow:hidden;
    }
    a {
      &:hover {
        .the-image, img {
          transform:scale(1.1);
        }
      }
    }
    .the-image, img {
      width:100%;
      max-width:none;
      transition:transform .5s ease;
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      width:100%;
      padding:0 0 45px;
      text-align:center;
      &.disabled {
        display:none;
      }
    }
    button.owl-dot {
      width:13px;
      height: 13px;
      margin:0 10px;
      padding: 3px;
      border-radius:50%;
      display: inline-block;
      border:1px solid $linkColor;
      transition:all 1s ease;
      cursor:pointer;
      background:none;
      &.active {
        background:$linkColor;
      }
    }
    &.is-cropped {
      li {
        a, figure {
          overflow:hidden;
          .the-image {
            background-size:cover !important;
            background-position:center !important;
            padding-top:70%;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
  .wp-block-button {
    text-align:center;
    padding-top:35px;
    padding-bottom:20px;
  }
}
@media(max-width:992px) {
}
@media(max-width:768px) {
}
@media(max-width:575px) {
}