@mixin containerwidth() {
  width:90%;
  max-width:1350px;
}
@mixin container() {
  @include containerwidth;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
  padding:0 15px;
  @include clearfix;
}
@mixin hidetext() {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}
@mixin transition() {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
@mixin translate() {
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-o-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
}
@mixin coffeeSize() {
  font-size:36px;
  @media(max-width:1300px) {
    font-size:30px;
  }
}
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
@mixin at2x($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media #{$retina} {
    background-image: url($file + '@2x.' + $type);
    background-size: ($width, $height);
  }
}
//usage @include at2x("image", "png", 50%, 50%);

@mixin clearfix() {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin btn-default($textColor, $hoverColor) {
  font-family:$sans;
  color:$textColor;
  font-size:38px;
  text-transform:uppercase;
  border:3px solid $textColor;
  background:none;
  background-color:transparent;
  line-height:1.1;
  display: inline-block;
  padding:10px 30px 8px;
  transition:all .5s ease;
  cursor:pointer;
  &:hover {
    color:$hoverColor;
    background-color:$textColor;
  }
  @media(max-width:992px) {
    font-size:32px;
  }
}
@mixin shadow($size, $color) {
  text-shadow: 0 0 $size $color;
}
@mixin hidetext() {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}
@mixin alignfull() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
@mixin transition() {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
@mixin translate() {
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-o-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
}
@mixin tint($color) {
  &:after {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    opacity:.8;
    background:$color;
    mix-blend-mode: multiply;
    transition:opacity 1.3s ease;
    z-index: 1;
    content:'';
    display: block;
  }
}
@mixin parallax-container($height) {
  position: relative;
  overflow: hidden;
  height:$height;
}
@mixin parallax-image($scale) {
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  height:150%;
  width:100%;
  transform: translateZ(-1px) scale($scale);
  background-size: cover !important;
  z-index: -1;
}
@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; 
}
@-webkit-keyframes move {
  0% {  }
  65% {  }
  90% {  }
  100% {  }
}
.animate {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}