/** Colors */

$teal: #14707c;
$teal-lt: #378da2;
$red:#ad2624;
$red-lt: #ed585b;
$gold: #faaa18;
$gold-lt: #f0dc78;
$charcoal: #28282a;
$green-dk:#006600;
$green-md:#2d8842;
$green:#3dce32;

$textColor: $charcoal;
$headingColor: $teal;
$linkColor: $gold;
$linkHoverColor: $gold-lt;

/** Fonts */

$sans: sans-serif;
$serif: serif;
$alt: cursive;

$spacer:                2rem;

/* @font-face {
  font-family: 'coffee';
  src: url('../fonts/coffee.woff2') format('woff2'),
       url('../fonts/coffee.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */