ul#menu-footer-navigation {
  //columns:2;
  li {
    display:block;
    margin-right:10px;
    line-height:1;
    a {
      display:block;
      padding:5px 5px 0 5px;
      text-transform:uppercase;
    }
  }
}
/* #inhouse {
  float:right;
  text-align:right;
  font-size:18px;
  a {
    color:$white;
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url(../images/logo-inhouse.png) no-repeat 0;
      position: relative;
      top: 5px;
      opacity: .85;
      margin-left:3px;
      transition: all .2s ease;
      background-size: 25px 25px;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
    }
    &:hover {
      span {
        transform:scale(1.2);
      }
    }
  }
} */