a.brand {
  width:50px;
  height:50px;
  //background:url(../images/logo-black-bear-bbq.svg) no-repeat;
  background-size:contain;
  display: block;
  position: absolute;
  transition: all .3s ease;
  @include hidetext;
  z-index: 3;
  &:hover {
  }
}
header.banner {
  height:70px;
  width:100%;
  top:0;
  left:0;
  z-index:200;
  position:fixed;
  box-sizing: border-box;
  padding:10px 0;
  transition:all .3s ease;
  overflow:hidden;
  .nav-primary {
    .menu-primary-navigation-container {
    }
    ul#menu-primary-navigation {
      li {
        display:inline-block;
        margin-right:10px;
        line-height:1;
        a {
          display:block;
          padding:5px 5px 0 5px;
          font-size:36px;
        }
      }
    }
  }
}
@media(min-width:993px) {
  .scrolt {
    header.banner {
      .nav-primary {
        ul#menu-primary-navigation {
          li {
            a {
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}
#menu-toggle {
  position:absolute;
  width:70px;
  height:57px;
  right:25px;
  z-index: 200;
  top:15px;
}
@media(min-width:993px) {
  #menu-toggle {
    display:none;
  }
}
@media(max-width:992px) {
  header.banner {
    .nav-primary {
      display:none;
      width:100%;
      height:100%;
      right:0;
      top:0;
      position: absolute;
      transition:all .3s ease;
      ul#menu-primary-navigation {
        li {
          display:block;
          float:none;
          margin-right:0;
        }
      }
      &.open {
        display:block;
      }
    }
  }
}